<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Plain Description -->
	<title>{% if page.title != "" %}{{ page.title }} – {{ site.title }}{% else %}{{ site.title }} – {{ site.tagline }}{% endif %}</title>
	<meta name="description" content="{{page.content | strip_html | truncatewords:75}}">
	<link rel="icon" type="image/png" href="/favicon.png">
	
	<!-- Facebook -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="{{page.title}} | {{ site.title }}"/>
	<meta property="og:description" content="{{page.excerpt | strip_html}}"/>
	<meta property="og:image" content="{% if page.image %}{{page.image | relative_url}}{% else %}{{site.socialimg | relative_url}}{% endif %}"/>
	<meta property="og:url" content="{{page.url | relative_url}}"/>
	<meta property="og:site_name" content="{{ site.title }} "/>
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{page.title}} | {{ site.title }}">
	<meta name="twitter:description" content="{{page.excerpt | strip_html}}">
	<meta name="twitter:image" content="{{site.socialimg}}">
	<meta name="twitter:url" content="{{page.url | relative_url}}">
	
	<!-- CSS & fonts -->
	<link rel="stylesheet" href="media/style.css">
</head>